In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import time

from bs4 import BeautifulSoup
from glob import glob
from sklearn import preprocessing
from sklearn.cluster import KMeans

In [ ]:
url = 'https://en.wikipedia.org/wiki/S%26P_100'
r = requests.get(url)
soup = BeautifulSoup(r.text, "lxml")

In [ ]:
i = 0
symbols = []
names = []
for table in soup.find_all('table', {'class': 'wikitable sortable'})[:1]:
    for td in table.find_all('td'):
        if i % 2 == 0:
            symbols.append(td.string)
        else:
            names.append(td.string)
        i += 1

In [ ]:
data = { symbol: name for symbol, name in zip(symbols, names)}

In [ ]:
data

In [ ]:
# example url 'http://www.google.com/finance/historical?q=AAPL&output=csv'

base_url = 'http://www.google.com/finance/historical?'
user_agent = {'User-agent': 'Mozilla/5.0'}

for i, symbol in enumerate(symbols):
    url = base_url + 'q=' + symbol + '&output=csv'
    r = requests.get(url, headers=user_agent)
    if r.ok:
        with open('stocks/' + symbol.lower()  + '.csv', 'w') as f:
            f.write(r.text)
    else:
        print "Error at:", symbol
    if i % 10 == 0:
        time.sleep(5)

In [2]:
csv_files = glob('stocks/*.csv')

In [3]:
frames = []
for csv_file in csv_files:
    tmp_df = pd.read_csv(csv_file)
    tmp_df['Stock'] = csv_file.split('/')[-1].split('.')[0].upper()
    frames.append(tmp_df)
df = pd.concat(frames)

In [4]:
df

          Date    Open    High     Low   Close    Volume Stock
0     6-Apr-17  144.29  144.52  143.45  143.66  21149034  AAPL
1     5-Apr-17  144.22  145.46  143.81  144.02  27717854  AAPL
2     4-Apr-17  143.25  144.89  143.17  144.77  19891354  AAPL
3     3-Apr-17  143.71  144.12  143.05  143.70  19985714  AAPL
4    31-Mar-17  143.72  144.27  143.01  143.66  19661651  AAPL
5    30-Mar-17  144.19  144.50  143.50  143.93  21207252  AAPL
6    29-Mar-17  143.68  144.49  143.19  144.12  29189955  AAPL
7    28-Mar-17  140.91  144.04  140.62  143.80  33374805  AAPL
8    27-Mar-17  139.39  141.22  138.62  140.88  23575094  AAPL
9    24-Mar-17  141.50  141.74  140.35  140.64  22395563  AAPL
10   23-Mar-17  141.26  141.58  140.61  140.92  20346301  AAPL
11   22-Mar-17  139.84  141.60  139.76  141.42  25860165  AAPL
12   21-Mar-17  142.11  142.80  139.73  139.84  39529912  AAPL
13   20-Mar-17  140.40  141.50  140.23  141.46  21542038  AAPL
14   17-Mar-17  141.00  141.00  139.89  139.99  43884952  AAPL
15   16-Mar-17  140.72  141.02  140.26  140.69  19231998  AAPL
16   15-Mar-17  139.41  140.75  139.02  140.46  25691774  AAPL
17   14-Mar-17  139.30  139.65  138.84  138.99  15309065  AAPL
18   13-Mar-17  138.85  139.43  138.82  139.20  17421717  AAPL
19   10-Mar-17  139.25  139.36  138.64  139.14  19612801  AAPL
20    9-Mar-17  138.74  138.79  137.05  138.68  22155904  AAPL
21    8-Mar-17  138.95  139.80  138.82  139.00  18707236  AAPL
22    7-Mar-17  139.06  139.98  138.79  139.52  17446297  AAPL
23    6-Mar-17  139.36  139.77  138.60  139.34  21750044  AAPL
24    3-Mar-17  138.78  139.83  138.59  139.78  21571121  AAPL
25    2-Mar-17  140.00  140.28  138.76  138.96  26210984  AAPL
26    1-Mar-17  137.89  140.15  137.60  139.79  36414585  AAPL
27   28-Feb-17  137.08  137.44  136.70  136.99  23482860  AAPL
28   27-Feb-17  137.14  137.44  136.28  136.93  20257426  AAPL
29   24-Feb-17  135.91  136.66  135.28  136.66  21776585  AAPL
..         ...     ...     ...     ...     ...       ...   ...
221  20-May-16   90.39   90.40   89.38   89.74  13190148   XOM
222  19-May-16   88.61   90.16   88.45   90.11  13536855   XOM
223  18-May-16   89.80   90.00   88.65   89.35   9604265   XOM
224  17-May-16   89.27   89.91   89.16   89.53   9814552   XOM
225  16-May-16   89.20   89.67   89.00   89.57   8636039   XOM
226  13-May-16   89.28   89.66   88.51   88.66   9545137   XOM
227  12-May-16   89.80   89.93   89.15   89.67  10706694   XOM
228  11-May-16   89.16   89.68   88.72   88.81  11552904   XOM
229  10-May-16   88.90   90.00   88.82   89.99  12489005   XOM
230   9-May-16   88.60   88.76   87.23   88.57  11052949   XOM
231   6-May-16   87.46   88.68   87.46   88.51   7965977   XOM
232   5-May-16   88.76   88.97   87.62   88.04   8672121   XOM
233   4-May-16   88.30   88.74   87.60   87.94  10487733   XOM
234   3-May-16   88.40   88.63   87.36   88.11   9950305   XOM
235   2-May-16   88.24   89.48   88.08   89.13  10234560   XOM
236  29-Apr-16   88.68   89.78   87.74   88.40  17634235   XOM
237  28-Apr-16   87.86   88.78   87.50   88.03  11225206   XOM
238  27-Apr-16   87.95   88.72   87.33   88.46  10458198   XOM
239  26-Apr-16   87.75   87.94   87.06   87.63   9408862   XOM
240  25-Apr-16   87.09   87.40   86.35   87.33   8071018   XOM
241  22-Apr-16   87.24   87.64   86.82   87.53   9085479   XOM
242  21-Apr-16   86.59   87.84   86.57   86.79  11909793   XOM
243  20-Apr-16   86.23   87.44   85.97   86.80  15220069   XOM
244  19-Apr-16   85.85   86.31   85.22   86.21  10324795   XOM
245  18-Apr-16   83.89   85.86   83.86   85.78   9092710   XOM
246  15-Apr-16   85.30   85.66   84.78   84.97  11053441   XOM
247  14-Apr-16   85.00   85.90   84.76   85.43  10623713   XOM
248  13-Apr-16   84.50   84.91   84.04   84.83   9182104   XOM
249  12-Apr-16   83.69   84.63   83.37   84.35   9970123   XOM
250  11-Apr-16   83.33   84.24   83.28   83.32   9834917   XOM

[25100 rows x 7 columns]

In [5]:
stocks = df.as_matrix()

In [6]:
stocks[:,1:5] = preprocessing.normalize(stocks[:,1:5])

/Users/tow02/Desktop/iccs413/venv/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype object was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

In [7]:
columns = ['Date', 'OpenNormalized', 'HighNormalized', 'LowNormalized', 'CloseNormalized', 'Volume', 'Stock']
df = pd.DataFrame(stocks, columns=columns)

In [8]:
df.head()

,Date,OpenNormalized,HighNormalized,LowNormalized,CloseNormalized,Volume,Stock
0,6-Apr-17,0.501074,0.501873,0.498157,0.498886,21149034,AAPL
1,5-Apr-17,0.49945,0.503744,0.49803,0.498757,27717854,AAPL
2,4-Apr-17,0.497319,0.503012,0.497041,0.502596,19891354,AAPL
3,3-Apr-17,0.500224,0.501652,0.497927,0.50019,19985714,AAPL
4,31-Mar-17,0.500189,0.502103,0.497718,0.49998,19661651,AAPL

In [9]:
def dist(s1, s2):
    return ((s1 - s2)**2).sum()

In [10]:
stock_names = list(set(df['Stock']))

In [11]:
stocks = df.as_matrix()

In [12]:
n = len(stock_names)
distance_matrix = np.zeros((n, n))
for i in range(n):
    for j in range(i):
        stock_i = df[df['Stock'] == stock_names[i]].as_matrix()[:,1:5]
        stock_j = df[df['Stock'] == stock_names[j]].as_matrix()[:,1:5]
        dist_result = dist(stock_i, stock_j)
        distance_matrix[i,j] = dist_result
        distance_matrix[j,i] = dist_result

In [13]:
clusters = KMeans().fit(distance_matrix)

In [14]:
clusters.n_clusters

8

In [15]:
predicted = clusters.predict(distance_matrix)
cluster_groups = dict()
for i in range(len(predicted)):
    cluster_groups[predicted[i]] = cluster_groups.get(predicted[i], [])
    cluster_groups[predicted[i]].append(stock_names[i])
    
for cluster_group in cluster_groups:
    cluster_groups[cluster_group] = sorted(cluster_groups[cluster_group])

In [16]:
cluster_groups

{0: ['AAPL',
  'ACN',
  'AIG',
  'ALL',
  'AXP',
  'BA',
  'BLK',
  'BRK',
  'CL',
  'CMCSA',
  'COST',
  'CSCO',
  'CVX',
  'DHR',
  'DIS',
  'FDX',
  'GD',
  'GE',
  'GOOG',
  'GOOGL',
  'HD',
  'HON',
  'IBM',
  'INTC',
  'JNJ',
  'JPM',
  'KO',
  'LOW',
  'MA',
  'MCD',
  'MDT',
  'MMM',
  'MO',
  'MRK',
  'MSFT',
  'NEE',
  'ORCL',
  'PEP',
  'PFE',
  'PG',
  'PM',
  'RTN',
  'SBUX',
  'SO',
  'T',
  'TXN',
  'UNH',
  'UPS',
  'USB',
  'UTX',
  'V',
  'VZ',
  'WMT',
  'XOM'],
 1: ['COP', 'HAL', 'KMI'],
 2: ['ABBV', 'BMY', 'DUK', 'EXC', 'FOX', 'MON', 'PYPL', 'TWX'],
 3: ['ABT',
  'AMGN',
  'AMZN',
  'CVS',
  'FB',
  'GILD',
  'KHC',
  'LLY',
  'MDLZ',
  'NKE',
  'PCLN',
  'SPG',
  'TGT'],
 4: ['CELG', 'FOXA', 'GM', 'MET', 'MS', 'QCOM'],
 5: ['AGN', 'BIIB'],
 6: ['WBA'],
 7: ['BK',
  'C',
  'CAT',
  'COF',
  'DD',
  'DOW',
  'EMR',
  'F',
  'GS',
  'OXY',
  'SLB',
  'UNP',
  'WFC']}

## Answer to Question 6

**Question**: How many clusters do you observe?

**Answer**: 8 clusters

**Question**: What are the stocks within each cluster?

**Answer**
0. ['AAPL',
  'ACN',
  'AIG',
  'ALL',
  'AXP',
  'BA',
  'BLK',
  'BRK',
  'CL',
  'CMCSA',
  'COST',
  'CSCO',
  'CVX',
  'DHR',
  'DIS',
  'FDX',
  'GD',
  'GE',
  'GOOG',
  'GOOGL',
  'HD',
  'HON',
  'IBM',
  'INTC',
  'JNJ',
  'JPM',
  'KO',
  'LOW',
  'MA',
  'MCD',
  'MDT',
  'MMM',
  'MO',
  'MRK',
  'MSFT',
  'NEE',
  'ORCL',
  'PEP',
  'PFE',
  'PG',
  'PM',
  'RTN',
  'SBUX',
  'SO',
  'T',
  'TXN',
  'UNH',
  'UPS',
  'USB',
  'UTX',
  'V',
  'VZ',
  'WMT',
  'XOM']
1. ['COP', 'HAL', 'KMI']
2. ['ABBV', 'BMY', 'DUK', 'EXC', 'FOX', 'MON', 'PYPL', 'TWX']
3. ['ABT',
  'AMGN',
  'AMZN',
  'CVS',
  'FB',
  'GILD',
  'KHC',
  'LLY',
  'MDLZ',
  'NKE',
  'PCLN',
  'SPG',
  'TGT']
4. ['CELG', 'FOXA', 'GM', 'MET', 'MS', 'QCOM']
5. ['AGN', 'BIIB']
6. ['WBA']
7. ['BK',
  'C',
  'CAT',
  'COF',
  'DD',
  'DOW',
  'EMR',
  'F',
  'GS',
  'OXY',
  'SLB',
  'UNP',
  'WFC']

**Question**: Do you observe any relationship between your cluster structure and their business sectors?

**Answer**

1. Technology/Computer/Electronic/Energy/ 

2. Energy

3. Bank/Pharmaceutical/Media

4. E-commerce/Social Network/Food Processing/Travel/Health Care/Accessories

5. Financial Services/Automative/Mass Media/Telecommunications/Biotechnology

6. Biotechnology/Pharmaceutical

7. Pharmaceutical/Retail

8. Financial Services/Electric/Energy/Automative/Chemical/Equipment